@import '../../var.scss';

.loginSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input {
        margin-bottom: 2rem;
        text-decoration: none;
        opacity: 100;
        border: none;
        border-bottom: 1px solid black;
        width: 15rem;
    }
    input::placeholder {
        color: black;
        opacity: 100;
    }
    button {
        width: 12rem;
        background-color: $color-green;
        border: 0;
        border-radius: 32px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .loginForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative; 
    }
    .error {
        position: absolute; 
        top: 100%; 
        margin-top: 1rem; 
        color: red; 
        font-size: 14px;
        text-align: center;
        width: 100%;
    }
}

.loginButtonText {
    color: black;
    text-decoration: none;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 20px;
}