.tinder {
    width: 100vw;
    height: 75vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
  }
  
  .loaded.tinder {
    opacity: 1;
  }
  
  .tinder--cards {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .tinder--card {
    background-color: #fefaf2;
    border-radius: 20px;
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;
    padding: 2rem;
    height: 30vh;
    max-width: 275px;
    width: 90vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: grab;
  }
  
  .moving.tinder--card {
    transition: none;
    cursor: grabbing;
  }
  
  .tinder--card h3 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: #111;
  }
  
  .tinder--card p {
    font-size: 1rem;
    color: #555;
  }
  
  .tinder--card:nth-child(3n) {
    border-color: #f6d65d;
  }
  
  .tinder--card:nth-child(3n+1) {
    border-color: #6eb7eb;
  }
  
  .tinder--card:nth-child(3n+2) {
    border-color: #a8df8a;
  }
  
  .tinder--buttons {
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
  
  .tinder--buttons button {
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 100%;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
  }
  
  #nope {
    background-color: #e57373;
  }
  
  #love {
    background-color: #a5d6a7;
  }
  
  .tinder--buttons button:hover {
    transform: scale(1.1);
  }
  
  .tinder--buttons i {
    font-size: 28px;
    color: black;
  }

  .quiz-progress {
    position: absolute;
    margin-top: 5rem;
    top: 0;
    transform: translate(-50%, -50%);
    left: 50%;
  
    &__info {
      font-size: 1.5rem;
      text-align: center;
      font-weight: 600;
      color: black;
      margin-bottom: 1.5rem;
    }
  
    &__bar {
      height: 10px;
      background: #E9E9E9;
      border-radius: 5px;
      overflow: hidden;
      width: 17rem;
  
      &--fill {
        height: 100%;
        background-color: #A8DF8A;
        transition: width 0.4s ease;
      }
    }
  }
  