@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Colors
$color-navar: #F8F3DB;
$color-beige: #FFFBE9;
$color-mint:  #D7FFDB80;
$color-light-green: #A8DF8A;
$color-blue: #6EB7EB;
$color-yellow: #F6D65D;
$color-grey: #D9D9D9;
$color-red: #F17174;
$color-white: #ffffff;

// Font Sizes
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-xxl: 32px;

// Fonts
$font-primary: 'Instrument Sans';
$font-secondary: 'Open Sans', sans-serif;
$font-monospace: 'Courier New', monospace;

// Example usage
body {
  font-family: $font-primary;
  font-size: $font-size-md;
  color: $color-yellow;
}
